.scanner-container{
  width: 100%;
  display: block;
}

.scanner-item-container{
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}


.scanner-btn-container{
  padding: 10px;
}

