$primary-color:dodgerblue;
$primary-color-dark:#0049c7;
$navbar-height:100px;

body, div, p, label{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


@import "style/loading";
@import "style/navbar";
@import "style/scanner";


.app-content{
  width:100%;
}

.w-100{
  width:100%;
  display: block;
}

.mb-20{
  margin-bottom: 20px;
}

.form-group{
  width:100%;
  display: block;
  padding:10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  overflow: hidden;
}

.form-group label{
  width:100%;
  display: block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group select{
  width:100%;
  display: block;
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px solid #444;
  background: white;
}

.form-group p{
  width:100%;
  display: block;
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #444;
  background: #fafafa;
  min-height: 3rem;

}

.btn-block{
  width:100%;
  display: block;
  background: $primary-color;
  border: none;
  outline: none;
  border-radius: 0;
  padding: 20px 20px;
  color: white;
  font-size: 2.5rem;
  border-right: 6px solid $primary-color-dark;
  border-bottom: 6px solid $primary-color-dark;
}

.error{
  background: rgba(255,0,0,0.25);
}
